.heading{
    text-align: center;
    color: white;
}

.BrandName{
    text-decoration: none;    
}
.BrandName:hover{
    color: #fff !important  ;
  }

  
.cardContainer{
    margin-top: 5vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}