.Container{
    width:84%;
    height: auto;
    justify-content: center;
}
.mainStyle{

    text-align: center;
}
.about{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 30px;
}
.shadow-box-example {
    box-shadow: 3px 3px 10px #c8d8e4; 
   
 }