
.cardTitle {
  text-align: center;
  font-size: inherit;
  color: black;
}

.imgBack {
  display: flex;
  align-content: space-around;
  height: 8vh;
  width: 5vw;
}
h2 {
  color: #3c899e;
}
.cardGroup {
  justify-content: center;

  background-color: rgb(65, 65, 65);
}
