
.cardTitle {
  text-align: center;
  font-size:large;
  color: white;
}

.imgBack {
  margin-top: 20px;
  display: flex;
  align-content: space-around;
  height: 15vh;
  width: 12vw;
}
h2 {
  color: #3c899e;
}
.cardGroup {
  justify-content: center;

  background-color: rgb(65, 65, 65);
}
h1{
  color: orange;
  text-align: center;
}
.shadow-box {
  box-shadow: 3px 3px 12px black; 
 
}

.shadow-box:hover{
  background-color: orange !important;
  
}
.Card:hover{
  background-color: orange;
}