.Form-box{
    min-height: 60vh;
}

Form {
    width : 20rem;
}

textarea{
    resize: none;
}
Form {
    color: white;
}
.form {
    padding: 20px;
    border-radius: 2vh;
    background-color: black;
}

.style{
    background-color: black;
    color: white;
    border: orange;
}