.PaperStyle{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 70vh !important;
    width: 70vw;
    margin: 70px auto; 
    align-items: flex-start;
    justify-content: center;
}
.img1,.img2,.img3{
    filter: blur(10px);
    -webkit-filter: blur(2px);
    background-blend-mode: darken;
    opacity: 0.2;
    border-radius: 10px;
}
h3{
    color: white;
    background: orange;
}
#caption{
    background: rgba(0, 0, 0, 0.486);
    color: white;
}