a{
    text-decoration: none;
}

.footer{
    background-color: black;
    position: relative;
    bottom: 0;
}
.contactBack{
    background-color: rgb(65, 65, 65);
    height: 10vh;
}
.contactStyle{
  
    color: white;
   
    
}
#copyright{
    padding-bottom: 2vh;
    
}


